# Pyladies meetup <img src="https://raw.githubusercontent.com/pyladies/pyladies-assets/master/geek/png/pylady_geek_partial.png" style="display:inline" width="150"  align="right">
# 2. házi feladat megoldása

In [1]:
import pandas as pd
pd.set_option('display.max_rows', 10)

In [2]:
#adatok betöltése

nepszamlalas = pd.read_csv('bergengoc_nepszamlalas.csv', delimiter=';')
nepszamlalas

,ID,keresztnev,szuletesi_ev,nem,magassag,BMI,nepcsoport,lakhely_megye
0,27832,Kaitlyn,1927,0.0,173.0,"29,83",0.0,Gocvár
1,48813,Luis,1956,2.0,197.0,"37,27",3.0,Beresztó
2,13485,Maria,1958,2.0,220.0,"17,6",3.0,Gocváros
3,25366,Julianna,1954,0.0,209.0,"30,53",3.0,Beresztó
4,15774,Alonzo,1906,0.0,178.0,"16,39",2.0,Gocvölgy
...,...,...,...,...,...,...,...,...
10521,41229,Nelson,1943,0.0,198.0,"32,06",2.0,Beresztó
10522,23130,Theodore,1910,0.0,160.0,"18,36",0.0,Gocvár
10523,39761,Jose,1964,1.0,160.0,"38,34",0.0,Gocvár
10524,41120,Oscar,1946,0.0,207.0,"18,22",1.0,Gocvár
10525,37642,Angel,1900,0.0,161.0,"19,33",1.0,Gondolber

In [3]:
# összesen hány személyt tartalmaz a tábla, és mennyi változót sikerült összegyűjteni?

nepszamlalas.shape

# 10526 személyt tartalmaz a táblázat és 8 változót

(10526, 8)

In [4]:
# mely oszlopok tartalmaznak kategorikus értékeket? És külön a float, illetve int típusú oszlopok is érdekelnek.

nepszamlalas.describe(include = 'O')
# 'keresztnev', 'BMI', 'lakhely_megye' tartalmaz kategórikus értékeket
# BTW úgy tűnik, a BMI csak a pontatlan ('.' helyett ',') adatrögzítés miatt kerül ide, 
# hiszen az valójában FLOAT típusú adat

nepszamlalas.describe(include = float)
# 'nem', 'magassag', 'nepcsoport' tartalmaz FLOAT típusú értékeket

nepszamlalas.describe(include = int)
# 'ID', 'szuletesi_ev' tartalmaz INT típusú értékeket

                 ID  szuletesi_ev
count  10526.000000  10526.000000
mean   29974.018431   1961.780258
std    11528.298029     35.939491
min    10000.000000   1900.000000
25%    19941.250000   1931.000000
50%    30043.500000   1962.000000
75%    39855.750000   1993.000000
max    50000.000000   2023.000000

In [5]:
# 1) melyik oszlopnak van a legnagyobb értékkészlete?
# 2) van-e olyan oszlop, amely ránézésre gyanús értéket tartalmaz? ha igen, melyek ezek, és mi a gyanús rajta?
# 3) vannak-e hiányzó értékek? Ha igen, hol?
# 4) melyik a leggyakoribb keresztnév az országban, és összesen hány ember viseli azt?
# 5) melyik a legnépesebb megye?

nepszamlalas.describe(include = 'all')

# 1) az 'ID', 'szuletesi_ev' és a 'BMI' oszlopoknak a legnagyobb az értékkészlete: 10526 adat szerepel bennük

# 2) a 'BMI'-nél az adatrögzítés módja a gyanús (',' helyett érdemesebb lenne '.' jelezni az egészek határát)
# a 'nem' oszlopban gyanúsak a '0.0'-s és a '3.0'-s értékek - nem lehet tudni, hogy ez mire utal 
# (a 0 a hiányzó adat? a 3 a harmadik nem? vagy ezek a lakók nem tudják eldönteni melyik nemhez tartoznak?)
# a 'magassag' oszlopban pedig a maximum érték a gyanús, ami 1850 - ez valószínűleg hibás adatrögzítés eredménye

# 3) hiányzó értékek vanna a 'keresztnev', 'magassag', 'nepcsoport' oszlopokban (2-2-2 db),
# illetve a 'nem' oszlopban (3 db vagy több is, ha a '0.0' is erre utal)

# 4) a leggyakoribb keresztnév a 'Sara' és 38 bergengóc viseli ezt a nevet

# 5) a legnépesebb megye 'Bertfalu' és 1101 bergengóc lakik itt

,ID,keresztnev,szuletesi_ev,nem,magassag,BMI,nepcsoport,lakhely_megye
count,10526.000000,10524,10526.000000,10523.000000,10524.000000,10526,10524.000000,10525
unique,NaN,696,NaN,NaN,NaN,2358,NaN,10
top,NaN,Sara,NaN,NaN,NaN,"29,68",NaN,Berfalu
freq,NaN,38,NaN,NaN,NaN,12,NaN,1101
mean,29974.018431,NaN,1961.780258,1.501853,160.556157,NaN,1.511117,NaN
...,...,...,...,...,...,...,...,...
min,10000.000000,NaN,1900.000000,0.000000,100.000000,NaN,0.000000,NaN
25%,19941.250000,NaN,1931.000000,1.000000,130.000000,NaN,1.000000,NaN
50%,30043.500000,NaN,1962.000000,1.000000,160.000000,NaN,2.000000,NaN
75%,39855.750000,NaN,1993.000000,3.000000,190.000000,NaN,3.000000,NaN
max,50000.000000,NaN,2023.000000,3.000000,1850.000000,NaN,3.000000,NaN

In [6]:
# 'eletkor' oszlop létrehozása
nepszamlalas['eletkor'] = 2023 - nepszamlalas['szuletesi_ev']

#szépkorúak (110+ év) szűrése és külön DF-be mentése
szepkoruak = nepszamlalas[nepszamlalas.eletkor >= 110].copy(deep=True)
nem_szepkoruak = nepszamlalas[nepszamlalas.eletkor < 110].copy(deep=True)

In [7]:
#hány lakos töltötte már be legalább a 110. életévét? És mennyien vannak a többiek?

szepkoruak.shape 
# 1177 bergengóc töltötte már be a 110. életévét
nem_szepkoruak.shape 
# 9349-en vannak a többiek

# alternatív megoldás a .count() függvény használatával
szepkoruak.ID.count()
nem_szepkoruak.ID.count()

# ellenőrzés: 1177 + 9349 = 10526, ami a teljes minta

9349

In [8]:
# egyik oszlopban fura értékek voltak - gyűjtsük ki a hibásnak tűnő értékeket

nepszamlalas['magassag'].sort_values(ascending = False) 
# a 220 cm-es magasság tűnik még reálisnak, az ennél magasabb értékeket hibásnak vélem

# iteráció segítségével a következőképpen oldanám meg a feladatot:
for index, sor in nepszamlalas.iterrows():
    if sor['magassag'] > 220:
        print(f"Az {index}. sorban található magasság értéke irreális: {sor['magassag']} cm")

# alternatív megoldás iteráció nélkül:
nepszamlalas[nepszamlalas.magassag > 220]

# hibás magasság értékek: 1030, 1180, 1280, 1690, 1850

Az 597. sorban található magasság értéke irreális: 1690.0 cm
Az 1584. sorban található magasság értéke irreális: 1850.0 cm
Az 1960. sorban található magasság értéke irreális: 1280.0 cm
Az 2696. sorban található magasság értéke irreális: 1180.0 cm
Az 3601. sorban található magasság értéke irreális: 1030.0 cm

,ID,keresztnev,szuletesi_ev,nem,magassag,BMI,nepcsoport,lakhely_megye,eletkor
597,25366,Marie,1937,3.0,1690.0,"27,23",1.0,Genyeg,86
1584,33270,Mariah,2003,3.0,1850.0,"38,04",1.0,Genyeg,20
1960,38942,Miguel,1918,3.0,1280.0,"29,58",1.0,Genyeg,105
2696,36690,Norah,1966,2.0,1180.0,"26,48",1.0,Genyeg,57
3601,44206,Stanley,1904,0.0,1030.0,"24,86",1.0,Genyeg,119

In [9]:
#népcsoportokat takaró kódszámok: 0 - ber, 1 - gen, 2 - goc, 3 - bevandorlo >> dekódolt táblázat létrehozása
for index, sor in nepszamlalas.iterrows():
    if sor['nepcsoport'] == 0:
        nepszamlalas.loc[index, 'nepcsoport'] = 'ber'
    elif sor['nepcsoport'] == 1:
        nepszamlalas.loc[index, 'nepcsoport'] = 'gen'
    elif sor['nepcsoport'] == 2:
        nepszamlalas.loc[index, 'nepcsoport'] = 'goc'
    else:
        nepszamlalas.loc[index, 'nepcsoport'] = 'bevandorlo'

nepszamlalas
        
# első alternatív megoldás dataframe szűrést használva
    #nepszamlalas.loc[nepszamlalas['nepcsoport'] == 0, 'nepcsoport'] = 'ber'
    #nepszamlalas.loc[nepszamlalas['nepcsoport'] == 1, 'nepcsoport'] = 'gen'
    #nepszamlalas.loc[nepszamlalas['nepcsoport'] == 2, 'nepcsoport'] = 'goc'
    #nepszamlalas.loc[nepszamlalas['nepcsoport'] == 3, 'nepcsoport'] = 'bevandorlo'


# második alternatív megoldás a .replace() függvény használatával
    #nepszamlalas['nepcsoport'] = nepszamlalas['nepcsoport'].replace({0: 'ber', 1: 'gen', 2: 'goc', 3:'bevandorlo'})

,ID,keresztnev,szuletesi_ev,nem,magassag,BMI,nepcsoport,lakhely_megye,eletkor
0,27832,Kaitlyn,1927,0.0,173.0,"29,83",ber,Gocvár,96
1,48813,Luis,1956,2.0,197.0,"37,27",bevandorlo,Beresztó,67
2,13485,Maria,1958,2.0,220.0,"17,6",bevandorlo,Gocváros,65
3,25366,Julianna,1954,0.0,209.0,"30,53",bevandorlo,Beresztó,69
4,15774,Alonzo,1906,0.0,178.0,"16,39",goc,Gocvölgy,117
...,...,...,...,...,...,...,...,...,...
10521,41229,Nelson,1943,0.0,198.0,"32,06",goc,Beresztó,80
10522,23130,Theodore,1910,0.0,160.0,"18,36",ber,Gocvár,113
10523,39761,Jose,1964,1.0,160.0,"38,34",ber,Gocvár,59
10524,41120,Oscar,1946,0.0,207.0,"18,22",gen,Gocvár,77
10525,37642,Angel,1900,0.0,161.0,"19,33",gen,Gondolber,123

In [10]:
# Hány "dzs" és "x" fordul elő a Bergengóc Himnusz óbergengóc változatában?

himnusz = "A nexdzsebdzsal itek mvip, zohüs ó nexdzsebdzsal bip,\
          Hüxés nytlm coxütöubc ótcékkó éxmvüdzsubc\
          Bexdzsebdzsaloó he ja!\
          Nes cett sémk ódzsdzsahbubc süx, xübc ó cybböenn itek züx\
          nytlm, exőm im nükéx, edzsö ó nexdzsebdzsal künéx\
          Bexdzsebdzsaloó, ke ja! Bexdzsebdzsaloó, dóda!"

dzs_szamlalo = 0
x_szamlalo = 0

# végig iterálok a szövegen és ha 'dzs' string szeletet találok, akkor növelem a dzs_szamlalo értékét 1-gyel
# a 3 hosszúságú 'dzs' szelet miatt a teljes szöveghossz - 2 hosszúságban, hogy az himnusz[i:i+3] ne fusson ki a teljes szöveghosszból

for i in range(0, len(himnusz) - 2):
    if himnusz[i:i+3] == 'dzs':
        dzs_szamlalo += 1

# végig iterálok a szövegen és ha 'x' betűt találok, akkor növelem az x_szamlalo értékét 1-gyel
for betu in himnusz:
    if betu == 'x':
        x_szamlalo += 1

print('dzs = ' + str(dzs_szamlalo) + ', ' + 'x = ' + str(x_szamlalo))

# A 'dzs' betű 16-szor, az 'x' betű 15-ször fordul elő a Bergengóc Himnusz óbergengóc változatában

dzs = 16, x = 15